# 本地基础设施环境变量模板

MYSQL_ROOT_PASSWORD=root123456
MYSQL_DATABASE=kai_lei_ai_secretary
MYSQL_USER=kailei
MYSQL_PASSWORD=kailei123456
MYSQL_PORT=3306

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

NACOS_PORT=8848
NACOS_GRPC_PORT=9848
